section {
  /*padding-top: 3rem;*/
}

.jumbotron-bg{
  /*background-image: url("../img/zen-bg2.jpg") !important;
  min-height: 60%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;*/
  background-size: cover;
}

#texto-presenca, #recolha-presenca, #texto-influencia, #recolha-influencia,
#texto-sistemas, #recolha-sistemas{
  display: none;
}

.jumbotron-bg h2{
  font-weight: 400;
}

.footNotes{
  padding-top: 2rem;
}

.footNotes .row{
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.clean-list {
  list-style-type: none;
  margin: 1rem;
  padding: 0;
}

.clean-list li {
  margin-bottom: 1rem;
}

.togOn{
  cursor: pointer;
  font-weight: bold;
  font-style: italic;
}

.icon-right-outline{
  cursor: pointer;
}
